.descptTextLeft{
	text-align: left;
}
.appLink{
	font-size: 26px;
}
a.githubTitle:link{
	font-size: 26px;
	color: #ffffff;
	text-decoration:none;
}
a.githubTitle:visited { 
	color: #ffffff; 
	text-decoration:none;
}
a.githubTitle:hover {
	color: #660000;
	text-decoration:none;
}
a.githubTitle:active {
	color: #ffffff; 
	text-decoration:none;
}
.hp-container {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
    overflow: hidden;
}
